@charset "UTF-8";
@import url("reset.css");

@font-face {
    font-family: 'Welstory gothic';
    src: url('Welstorygothic-Regular.woff2') format('woff2'),
        url('Welstorygothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Welstory gothic';
    src: url('Welstorygothic-Light.woff2') format('woff2'),
        url('Welstorygothic-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Welstory gothic';
    src: url('Welstorygothic-Bold.woff2') format('woff2'),
        url('Welstorygothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alkaline';
    src: url('Alkaline-Medium.woff2') format('woff2'),
        url('Alkaline-Medium.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alkaline';
    src: url('Alkaline-Bold.woff2') format('woff2'),
        url('Alkaline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src: local('Pretendard Bold'), url(./woff2/Pretendard-Bold.woff2) format('woff2'), url(./woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-display: swap;
    src: local('Pretendard SemiBold'), url(./woff2/Pretendard-SemiBold.woff2) format('woff2'), url(./woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src: local('Pretendard Medium'), url(./woff2/Pretendard-Medium.woff2) format('woff2'), url(./woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src: local('Pretendard Regular'), url(./woff2/Pretendard-Regular.woff2) format('woff2'), url(./woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-display: swap;
    src: local('Pretendard Light'), url(./woff2/Pretendard-Light.woff2) format('woff2'), url(./woff/Pretendard-Light.woff) format('woff');
}

html,
body {
    font-size: 62.5%;
    word-break: keep-all
        /* 16px이 100% 62.5%가 공통적으로 자주사용되는 수치(10px)*/
}


.header {
    width: 100%;
    height: 10rem;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10;

    &.active {
        width: 100%;
        position: fixed;
        bottom: 0;
        border-bottom: 0.1rem solid #C0BDB9;
    }

    @media screen and (max-width:1024px) {
        height: 6rem;
    }

    .inner {
        max-width: 1760px;
        width: calc(100% - 4rem);
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .logo {
            line-height: 10rem;

            @media screen and (max-width:1024px) {
                line-height: 6rem;
            }

            a {
                height: 3.6rem;
                display: block;

                @media screen and (max-width:1240px) {
                    height: 2.6rem;
                }

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }

        }

        .nav {
            @media screen and (max-width:1240px) {
                display: none
            }

            .gnb {
                display: flex;
                color: #222;


                li {
                    position: relative;

                    &:nth-child(2) {
                        .depth01 {
                            margin-left: -7px;
                        }
                    }

                    &:nth-child(3) {
                        .depth01 {
                            margin-left: -13px;
                        }
                    }

                    &:nth-child(4) {
                        .depth01 {
                            margin-left: -55px;
                        }
                    }

                    .depth01 {
                        width: 23rem;
                        display: block;
                        line-height: 10rem;

                        font-family: 'Welstory gothic';
                        font-weight: bold;
                        font-size: 1.8rem;
                        text-transform: capitalize;
                        text-align: center;
                        transition: 0.3s;
                        z-index: 30;

                        &:hover {
                            color: #FF5624;

                            .depth02 {
                                border-top: 2px solid #FF5624;
                            }
                        }
                    }

                    .depth02 {
                        width: 230px;
                        padding: 4rem 1.6rem 0;
                        position: absolute;
                        top: 10rem;
                        left: 0;
                        display: block;
                        text-align: left;
                        border-right: 1px solid #EEE;

                        font-family: 'Welstory gothic';
                        font-size: 1.6rem;
                        font-weight: 400;
                        letter-spacing: -0.048rem;
                        color: #5E5F5F;
                        z-index: 15;
                        display: none;

                        li {
                            margin-bottom: 2rem;
                        }
                    }
                }
            }
        }

        .lang {
            line-height: 10rem;
            height: 28px;

            img {
                height: 100%;
                object-fit: cover;
            }
        }

        .pc {
            @media screen and (max-width:1240px) {
                display: none
            }
        }

        .nav_bg {
            width: 100%;
            background-color: #fff;
            position: absolute;
            top: 10rem;
            left: 0;
            z-index: 10;
            display: none;
        }

        .mobile {
            display: none;

            @media screen and (max-width:1240px) {
                display: block
            }
        }

        .nav_menu {
            @media screen and (max-width:1240px) {
                display: block;
            }
        }

        .nav_mobile {
            @media screen and (max-width:1240px) {
                width: 100%;
                height: 100vh;
                padding: 20px;
                position: fixed;
                top: 0;
                right: -100%;
                background-color: #fff;
                overflow: hidden;

                .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 60px;

                    img {
                        height: 36px;
                        display: block;
                    }

                    .close_btn {
                        width: 24px;

                        img {
                            height: 24px;
                            object-fit: cover;
                        }
                    }
                }

                .gnb {
                    flex: 1 1 auto;
                    overflow-y: auto;
                    max-height: calc(100vh - 160px); // 화면 높이에서 아래 고정 영역만큼 뺌
                    padding-bottom: 100px; // .mob_bottom 높이만큼 확보

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    >li {
                        margin-top: 4rem;

                        .depth01 {
                            font-family: 'Welstory gothic';
                            font-weight: bold;
                            font-size: 2.4rem;
                            text-transform: capitalize;
                        }

                        >.depth02 {
                            font-family: 'Pretendard';
                            font-weight: 400;
                            font-size: 1.6rem;
                            margin-top: 1.2rem;

                            li {
                                margin-bottom: 16px;
                            }
                        }
                    }
                }

                .mob_bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    padding: 1.6rem;
                    background-color: #f5f5f5;

                    .btn_wrap {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }

                    .btn {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                    }
                }

            }
        }
    }
}

.main_visual {
    margin-top: 10rem;

    @media screen and (max-width:1024px) {
        margin-top: 6rem;
    }

    .main_swiper {
        max-width: 1760px;
        width: calc(100% - 4rem);
        height: calc(100svh - 8.4rem);
        margin: 0 auto;
        overflow: hidden;
        position: relative;

        .circle-effect {
            position: absolute;
            top: 0;
            right: 0;
            width: 15rem;
            height: 15rem;
            border-radius: 0 0 0 18rem;
            background: #FF5624;
            pointer-events: none;
            z-index: 10;
            opacity: 0;
            transform: scale(0);
            transform-origin: right top;

            &.active {
                animation: circleExpand 1s ease forwards;
            }
        }

        .swiper-wrapper {
            width: 100%;
            height: 100%;

            .swiper-slide {
                width: 100%;
                height: 100%;

                &:nth-child(1) {
                    background: url('../img/main_visual_0.jpg') center / cover no-repeat;

                    @media screen and (max-width:1024px) {
                        background: url('../img/main_visual_0.jpg') 70% center / cover no-repeat;
                    }

                    @media screen and (max-width:767px) {
                        background: url('../img/m_main_visual_0.jpg') no-repeat center 0 / cover;
                    }

                }

                &:nth-child(2) {
                    background: url('../img/main_visual_1.jpg') center / cover no-repeat;

                    @media screen and (max-width:1024px) {
                        background: url('../img/main_visual_1.jpg') 70% center / cover no-repeat;
                    }

                    @media screen and (max-width:767px) {
                        background: url('../img/m_main_visual_1.jpg') no-repeat center 0 / cover;
                    }
                }

                &:nth-child(3) {
                    background: url('../img/main_visual_2.jpg') center / cover no-repeat;

                    @media screen and (max-width:1024px) {
                        background: url('../img/main_visual_2.jpg') 70% center / cover no-repeat;
                    }

                    @media screen and (max-width:767px) {
                        background: url('../img/m_main_visual_2.jpg') no-repeat center 0 / cover;
                    }
                }



                .slide_inner {
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    position: relative;

                    .slide-animate {
                        opacity: 0;
                        animation-name: slideUpFade;
                        animation-duration: 0.6s;
                        animation-fill-mode: both;
                        animation-timing-function: ease-out;
                    }

                    .delay-1 {
                        animation-delay: 1.6s;
                    }

                    .delay-2 {
                        animation-delay: 2s;
                    }

                    .delay-3 {
                        animation-delay: 2.3s;
                    }

                    .image {
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .text {
                        position: absolute;
                        top: 10rem;
                        left: 12rem;
                        color: #fff;

                        @media screen and (max-width:1024px) {
                            top: auto;
                            bottom: 16rem;
                            left: 10em;
                            margin: 0;
                        }

                        @media screen and (max-width:767px) {
                            top: auto;
                            bottom: 10rem;
                            left: 3em;
                            margin: 0;
                        }


                        .shape {
                            height: 42px;

                            @media screen and (max-width:1024px) {
                                height: 24px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        h2 {
                            font-family: 'Welstory gothic';
                            font-size: 6.8rem;
                            font-weight: 400;
                            line-height: 1;
                            margin: 2rem 0 2.4rem;

                            @media screen and (max-width:1024px) {
                                font-size: 4.2rem;
                            }

                            @media screen and (max-width:767px) {
                                font-size: 3.2rem;
                                margin: 1.5rem 0 2rem;
                            }

                            span {
                                position: relative;
                                font-family: 'Alkaline';
                                font-weight: 500;
                                font-size: 7.8rem;

                                &::after {
                                    position: absolute;
                                    left: 0;
                                    top: 80%;
                                    content: "";
                                    width: 100%;
                                    height: 0.2rem;
                                    background-color: #FFF;
                                }

                                @media screen and (max-width:1024px) {
                                    font-size: 4.8rem;
                                }

                                @media screen and (max-width:767px) {
                                    font-size: 4rem;
                                }
                            }
                        }

                        p {
                            font-size: 1.8rem;
                            font-family: 'Pretendard';
                            font-weight: 500;

                            @media screen and (max-width:1024px) {
                                font-size: 1.6rem;
                            }

                            @media screen and (max-width:767px) {
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }

        .custom-button {
            position: absolute;
            background-color: #fff;
            color: #424342;
            display: flex;
            gap: 1.5rem;
            align-items: center;
            z-index: 1;

            img {
                width: 1.3rem;
                height: 1.3rem;
                object-fit: cover;
            }

            &.custom-button-prev {
                width: 19rem;
                height: 9.8rem;
                bottom: -1px;
                left: -1px;
                font-size: 1.8rem;
                font-family: 'Pretendard';
                font-weight: 400;
                text-transform: uppercase;
                border-radius: 0 20px 0 0;

                opacity: 0;
                animation: slideRight 0.8s ease-out forwards;
                animation-delay: 0.8s;

                &.active {
                    display: none;
                }

                @media screen and (max-width:767px) {
                    width: 14.6rem;
                    height: 4rem;
                    padding: 21.6px 0 0 0;
                    font-size: 1.2rem;
                    border-radius: 0 15px 0 0;
                    animation: slideRightMobile 0.8s ease-out forwards;
                }
            }

            &.custom-button-next {
                width: 7.4rem;
                height: 31rem;
                padding-top: 3.25rem;
                top: 10rem;
                right: -1px;
                font-size: 1.8rem;
                font-family: 'Pretendard';
                font-weight: 400;
                text-transform: uppercase;
                writing-mode: vertical-rl;
                border-radius: 20px 0 0 20px;

                overflow: hidden;
                animation: slideDown 0.8s ease-out forwards;

                &.active {
                    display: none;
                }

                @media screen and (max-width:767px) {
                    width: 3.5rem;
                    height: 16rem;
                    padding: 1.2rem 0 0 1.3rem;
                    top: 5rem;
                    right: -1px;
                    font-size: 1.2rem;
                    border-radius: 15px 0 0 15px;
                    animation: slideDownMobile 0.8s ease-out forwards;
                }

            }
        }

    }


}

.section01 {
    .inner {
        padding: 10rem 0 12rem;
        max-width: 1240px;
        margin: 0 auto;
        width: 100%;
        color: #424342;
        background-color: #FFF;

        display: grid;
        grid-auto-flow: column;
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 5rem;
        align-items: flex-start;
        justify-items: center;

        @media screen and (max-width:1024px) {
            padding: 8rem 5rem 10rem;
            gap: 2rem;
            grid-auto-flow: row;
            align-items: center;
            justify-items: start;
        }

        h2 {
            font-size: 4.2rem;
            font-family: 'Welstory gothic';
            font-weight: bold;
            text-transform: capitalize;
        }

        .text {
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 20rem 26rem;
            grid-template-rows: repeat(2, auto);
            gap: 0;
            -webkit-box-align: start;
            align-items: flex-start;
            justify-items: start;

            @media screen and (max-width:1024px) {
                display: block;
            }

            li {
                width: 100%;
                grid-column: span 1;

                strong {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;
                    color: #FF5624;
                    padding: 1.6rem 0 0.6rem;

                    @media screen and (max-width:1024px) {
                        padding: 0;
                    }

                    em {
                        font-family: 'Welstory gothic';
                        min-height: 5.2rem;
                        font-size: 5.2rem;
                        font-weight: bold;
                        font-style: normal;
                        line-height: 100%;
                        letter-spacing: -0.208rem;
                    }

                    span {
                        font-size: 1.8rem;
                        font-family: 'Pretendard';
                        font-weight: 400;
                        line-height: 145%;
                        letter-spacing: -0.054rem;
                        margin-left: 0.7rem;
                    }
                }

                p {
                    font-family: 'Pretendard';
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 145%;
                    letter-spacing: -0.048rem;

                    @media screen and (max-width:1024px) {
                        padding-left: 0.7rem;
                    }
                }

                &:nth-child(1) {
                    width: 100%;
                    grid-column: span 2;
                    padding-bottom: 3rem;
                    position: relative;

                    strong {
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 1.8rem;
                        font-family: 'Pretendard';
                        font-weight: 600;
                        line-height: 160%;
                        letter-spacing: -0.054rem;
                        margin-bottom: 0.8rem;
                        color: #424342;
                    }

                    p {
                        display: block;
                        width: 100%;
                        height: 100%;
                        font-size: 1.6rem;
                        font-family: 'Pretendard';
                        font-weight: 400;
                        line-height: 160%;
                        letter-spacing: -0.048rem;
                        color: #767575;

                        @media screen and (max-width:1024px) {
                            padding-left: 0;
                        }
                    }

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: 0;
                        animation: line-w 1.5s ease 0.8s forwards;

                        @media screen and (max-width:1024px) {
                            display: none;
                        }
                    }
                }

                &:nth-child(3) {
                    padding-left: 2.4rem;
                    position: relative;

                    @media screen and (max-width:1024px) {
                        padding: 2.4rem 0 0 0;
                        margin-top: 2.4rem;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: 0;
                            animation: line-w 1.5s ease 0.8s forwards;
                        }
                    }

                    &::after {
                        content: "";
                        height: 100%;
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border-left: 1px solid rgb(192, 189, 185);
                        animation: line-h 1.5s ease 0.8s forwards;

                        @media screen and (max-width:1024px) {
                            display: none;
                        }
                    }
                }

            }
        }
    }
}

.section02 {
    width: 100%;
    color: #424342;

    .inner {
        padding: 7rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../img/sec2_bg_300.jpg')center / cover no-repeat;
            z-index: -1;
        }

        .contents {
            max-width: 1240px;
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .item_wrap {
                height: 65rem;
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: 65rem 58.6rem;
                grid-template-rows: repeat(2, auto);
                gap: 0.4rem;
                align-items: flex-start;
                justify-items: start;

                li{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:not(:first-child){
                        background-color: #fff;
                        &:hover{
                            .next{
                               animation: nextBtn 0.8s ease-in-out infinite;
                            }
                        }
                    }

                    &:first-child {
                        grid-row: span 4;
                        height: 100%;

                        .box {
                            width: 65rem;
                            height: 65rem;
                            padding: 8rem 7rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            background-color: #f5f5f5;

                            h2 {
                                font-size: 7.5rem;
                                font-family: 'Welstory gothic';
                                font-weight: bold;
                                letter-spacing: -0.084rem;
                            }

                            .text {
                                color: #FF5624;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 2rem;

                                img {
                                    height: 26.5px;
                                }

                                p {
                                    font-size: 2.6rem;
                                    font-family: 'Pretendard';
                                    font-weight: 300;
                                    line-height: 145%;
                                    letter-spacing: -0.054rem;
                                }
                            }
                        }

                        &:hover {
                            li{
                            background-color: transparent;
                            }
                            .box {
                                justify-content: flex-start;
                                background-color: #FF5624;
                                will-change: border-radius, background-color;
                                transition: border-radius 0.3s ease;
                                border-radius: 0 0 100% 0;
                            }

                            h2 {
                                color: #f5f5f5;
                            }

                            .text {
                                width: 65%;
                                color: #f5f5f5;
                            }
                        }
                    }

                    &:nth-child(2) {
                        border-radius: 0 0 0 2rem;
                    }

                    &:nth-child(3),
                    &:nth-child(4) {
                        border-radius: 2rem 0 0 2rem;
                    }

                    &:nth-child(5) {
                        border-radius: 2rem 0 0 0;
                    }

                    a {
                        width: 100%;
                        box-sizing: border-box;
                        padding: 0 4rem 0 6rem;

                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2rem;
                        display: flex;

                        .text {
                            p {
                                font-size: 2rem;
                                font-family: 'Pretendard';
                                font-weight: 500;
                                letter-spacing: -0.06rem;
                                margin-bottom: 0.8rem;
                            }

                            h3 {
                                font-size: 3.6rem;
                                font-family: 'Pretendard';
                                font-weight: 700;
                            }
                        }
                    }

                }

            }

        }
    }
}



/* keyframe */
@keyframes circleExpand {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(9);
        opacity: 0;
    }
}

@keyframes slideDown {
    0% {
        height: 0;
    }

    100% {
        height: 31rem;
    }
}

@keyframes slideDownMobile {
    0% {
        height: 0;
    }

    100% {
        height: 16rem;
    }
}

@keyframes slideRight {
    0% {
        opacity: 1;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 19rem;
    }
}

@keyframes slideRightMobile {
    0% {
        opacity: 1;
        width: 0;
    }

    100% {
        opacity: 1;
        width: 14.6rem;
    }
}

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes line-w {
    0% {
        width: 0;
        opacity: 0;
    }

    100% {
        width: 100%;
        opacity: 1;
        border-top: 1px solid #C0BDB9;
    }
}

@keyframes line-h {
    0% {
        height: 0;
        opacity: 0;
    }

    100% {
        top: -0.1rem;
        height: 100%;
        opacity: 1;
        border-left: 1px solid #C0BDB9;
    }
}
@keyframes nextBtn{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(1rem);
    }
    100%{
        transform: translateX(0);
    }
}