@charset "UTF-8";
@import url("reset.css");
@font-face {
  font-family: "Welstory gothic";
  src: url("../font/웰스토리고딕/Welstorygothic-Regular.woff2") format("woff2"), url("../font/웰스토리고딕/Welstorygothic-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Welstory gothic";
  src: url("../font/웰스토리고딕/Welstorygothic-Light.woff2") format("woff2"), url("../font/웰스토리고딕/Welstorygothic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Welstory gothic";
  src: url("../font/웰스토리고딕/Welstorygothic-Bold.woff2") format("woff2"), url("../font/웰스토리고딕/Welstorygothic-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Alkaline";
  src: url("../font/alkaline/Alkaline-Medium.woff2") format("woff2"), url("../font/alkaline/Alkaline-Medium.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Alkaline";
  src: url("../font/alkaline/Alkaline-Bold.woff2") format("woff2"), url("../font/alkaline/Alkaline-Bold.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"), url(./woff2/Pretendard-Bold.woff2) format("woff2"), url(./woff/Pretendard-Bold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard SemiBold"), url(./woff2/Pretendard-SemiBold.woff2) format("woff2"), url(./woff/Pretendard-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Medium"), url(./woff2/Pretendard-Medium.woff2) format("woff2"), url(./woff/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard Regular"), url(./woff2/Pretendard-Regular.woff2) format("woff2"), url(./woff/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard Light"), url(./woff2/Pretendard-Light.woff2) format("woff2"), url(./woff/Pretendard-Light.woff) format("woff");
}
html,
body {
  font-size: 62.5%;
  word-break: keep-all;
}

.header {
  width: 100%;
  height: 10rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}
.header.active {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-bottom: 0.1rem solid #C0BDB9;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 6rem;
  }
}
.header .inner {
  max-width: 1760px;
  width: calc(100% - 4rem);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header .inner .logo {
  line-height: 10rem;
}
@media screen and (max-width: 1024px) {
  .header .inner .logo {
    line-height: 6rem;
  }
}
.header .inner .logo a {
  height: 3.6rem;
  display: block;
}
@media screen and (max-width: 1240px) {
  .header .inner .logo a {
    height: 2.6rem;
  }
}
.header .inner .logo a img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1240px) {
  .header .inner .nav {
    display: none;
  }
}
.header .inner .nav .gnb {
  display: flex;
  color: #222;
}
.header .inner .nav .gnb li {
  position: relative;
}
.header .inner .nav .gnb li:nth-child(2) .depth01 {
  margin-left: -7px;
}
.header .inner .nav .gnb li:nth-child(3) .depth01 {
  margin-left: -13px;
}
.header .inner .nav .gnb li:nth-child(4) .depth01 {
  margin-left: -55px;
}
.header .inner .nav .gnb li .depth01 {
  width: 23rem;
  display: block;
  line-height: 10rem;
  font-family: "Welstory gothic";
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: capitalize;
  text-align: center;
  transition: 0.3s;
  z-index: 30;
}
.header .inner .nav .gnb li .depth01:hover {
  color: #FF5624;
}
.header .inner .nav .gnb li .depth01:hover .depth02 {
  border-top: 2px solid #FF5624;
}
.header .inner .nav .gnb li .depth02 {
  width: 230px;
  padding: 4rem 1.6rem 0;
  position: absolute;
  top: 10rem;
  left: 0;
  display: block;
  text-align: left;
  border-right: 1px solid #EEE;
  font-family: "Welstory gothic";
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.048rem;
  color: #5E5F5F;
  z-index: 15;
  display: none;
}
.header .inner .nav .gnb li .depth02 li {
  margin-bottom: 2rem;
}
.header .inner .lang {
  line-height: 10rem;
  height: 28px;
}
.header .inner .lang img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1240px) {
  .header .inner .pc {
    display: none;
  }
}
.header .inner .nav_bg {
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 10rem;
  left: 0;
  z-index: 10;
  display: none;
}
@media screen and (max-width: 1024px) {
  .header .inner .nav_bg {
    display: none !important;
  }
}
.header .inner .mobile {
  display: none;
}
@media screen and (max-width: 1240px) {
  .header .inner .mobile {
    display: block;
  }
}
@media screen and (max-width: 1240px) {
  .header .inner .nav_menu {
    display: block;
  }
}
@media screen and (max-width: 1240px) {
  .header .inner .nav_mobile {
    width: 100%;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #fff;
    overflow: hidden;
  }
  .header .inner .nav_mobile .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .header .inner .nav_mobile .title img {
    height: 36px;
    display: block;
  }
  .header .inner .nav_mobile .title .close_btn {
    width: 24px;
  }
  .header .inner .nav_mobile .title .close_btn img {
    height: 24px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header .inner .nav_mobile .gnb {
    flex: 1 1 auto;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    padding-bottom: 100px;
  }
  .header .inner .nav_mobile .gnb::-webkit-scrollbar {
    display: none;
  }
  .header .inner .nav_mobile .gnb > li {
    margin-top: 4rem;
  }
  .header .inner .nav_mobile .gnb > li .depth01 {
    font-family: "Welstory gothic";
    font-weight: bold;
    font-size: 2.4rem;
    text-transform: capitalize;
  }
  .header .inner .nav_mobile .gnb > li > .depth02 {
    font-family: "Pretendard";
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }
  .header .inner .nav_mobile .gnb > li > .depth02 li {
    margin-bottom: 16px;
  }
  .header .inner .nav_mobile .mob_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem;
    background-color: #f5f5f5;
  }
  .header .inner .nav_mobile .mob_bottom .btn_wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .header .inner .nav_mobile .mob_bottom .btn {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.main_visual {
  margin-top: 10rem;
}
@media screen and (max-width: 1024px) {
  .main_visual {
    margin-top: 6rem;
  }
}
.main_visual .main_swiper {
  max-width: 1760px;
  width: calc(100% - 4rem);
  height: calc(100svh - 8.4rem);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.main_visual .main_swiper .circle-effect {
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  height: 15rem;
  border-radius: 0 0 0 18rem;
  background: #FF5624;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transform: scale(0);
  transform-origin: right top;
}
.main_visual .main_swiper .circle-effect.active {
  animation: circleExpand 1s ease forwards;
}
.main_visual .main_swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(1) {
  background: url("../img/main_visual_0.jpg") center/cover no-repeat;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(1) {
    background: url("../img/main_visual_0.jpg") 70% center/cover no-repeat;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(1) {
    background: url("../img/m_main_visual_0.jpg") no-repeat center 0/cover;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(2) {
  background: url("../img/main_visual_1.jpg") center/cover no-repeat;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(2) {
    background: url("../img/main_visual_1.jpg") 70% center/cover no-repeat;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(2) {
    background: url("../img/m_main_visual_1.jpg") no-repeat center 0/cover;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(3) {
  background: url("../img/main_visual_2.jpg") center/cover no-repeat;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(3) {
    background: url("../img/main_visual_2.jpg") 70% center/cover no-repeat;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide:nth-child(3) {
    background: url("../img/m_main_visual_2.jpg") no-repeat center 0/cover;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .slide-animate {
  opacity: 0;
  animation-name: slideUpFade;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .delay-1 {
  animation-delay: 1.6s;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .delay-2 {
  animation-delay: 2s;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .delay-3 {
  animation-delay: 2.3s;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .image {
  width: 100%;
  height: 100%;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text {
  position: absolute;
  top: 10rem;
  left: 12rem;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text {
    top: auto;
    bottom: 16rem;
    left: 10em;
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text {
    top: auto;
    bottom: 10rem;
    left: 3em;
    margin: 0;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text .shape {
  height: 42px;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text .shape {
    height: 24px;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text .shape img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 {
  font-family: "Welstory gothic";
  font-size: 6.8rem;
  font-weight: 400;
  line-height: 1;
  margin: 2rem 0 2.4rem;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 {
    font-size: 4.2rem;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 {
    font-size: 3.2rem;
    margin: 1.5rem 0 2rem;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 span {
  position: relative;
  font-family: "Alkaline";
  font-weight: 500;
  font-size: 7.8rem;
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 span::after {
  position: absolute;
  left: 0;
  top: 80%;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #FFF;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 span {
    font-size: 4.8rem;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text h2 span {
    font-size: 4rem;
  }
}
.main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text p {
  font-size: 1.8rem;
  font-family: "Pretendard";
  font-weight: 500;
}
@media screen and (max-width: 1024px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .swiper-wrapper .swiper-slide .slide_inner .text p {
    font-size: 1.4rem;
  }
}
.main_visual .main_swiper .custom-button {
  position: absolute;
  background-color: #fff;
  color: #424342;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  z-index: 1;
}
.main_visual .main_swiper .custom-button img {
  width: 1.3rem;
  height: 1.3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_visual .main_swiper .custom-button.custom-button-prev {
  width: 19rem;
  height: 9.8rem;
  bottom: -1px;
  left: -1px;
  font-size: 1.8rem;
  font-family: "Pretendard";
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0 20px 0 0;
  opacity: 0;
  animation: slideRight 0.8s ease-out forwards;
  animation-delay: 0.8s;
}
.main_visual .main_swiper .custom-button.custom-button-prev.active {
  display: none;
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .custom-button.custom-button-prev {
    width: 14.6rem;
    height: 4rem;
    padding: 21.6px 0 0 0;
    font-size: 1.2rem;
    border-radius: 0 15px 0 0;
    animation: slideRightMobile 0.8s ease-out forwards;
  }
}
.main_visual .main_swiper .custom-button.custom-button-next {
  width: 7.4rem;
  height: 31rem;
  padding-top: 3.25rem;
  top: 10rem;
  right: -1px;
  font-size: 1.8rem;
  font-family: "Pretendard";
  font-weight: 400;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  border-radius: 20px 0 0 20px;
  overflow: hidden;
  animation: slideDown 0.8s ease-out forwards;
}
.main_visual .main_swiper .custom-button.custom-button-next.active {
  display: none;
}
@media screen and (max-width: 767px) {
  .main_visual .main_swiper .custom-button.custom-button-next {
    width: 3.5rem;
    height: 16rem;
    padding: 1.2rem 0 0 1.3rem;
    top: 5rem;
    right: -1px;
    font-size: 1.2rem;
    border-radius: 15px 0 0 15px;
    animation: slideDownMobile 0.8s ease-out forwards;
  }
}

.section01 .inner {
  padding: 10rem 0 12rem;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  color: #424342;
  background-color: #FFF;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 5rem;
  align-items: flex-start;
  justify-items: center;
}
@media screen and (max-width: 1024px) {
  .section01 .inner {
    padding: 8rem 5rem 10rem;
    gap: 2rem;
    grid-auto-flow: row;
    align-items: center;
    justify-items: start;
  }
}
.section01 .inner h2 {
  font-size: 4.2rem;
  font-family: "Welstory gothic";
  font-weight: bold;
  text-transform: capitalize;
}
.section01 .inner .text {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20rem 26rem;
  grid-template-rows: repeat(2, auto);
  gap: 0;
  align-items: flex-start;
  justify-items: start;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text {
    display: block;
  }
}
.section01 .inner .text li {
  width: 100%;
  grid-column: span 1;
}
.section01 .inner .text li strong {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  color: #FF5624;
  padding: 1.6rem 0 0.6rem;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text li strong {
    padding: 0;
  }
}
.section01 .inner .text li strong em {
  font-family: "Welstory gothic";
  min-height: 5.2rem;
  font-size: 5.2rem;
  font-weight: bold;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.208rem;
}
.section01 .inner .text li strong span {
  font-size: 1.8rem;
  font-family: "Pretendard";
  font-weight: 400;
  line-height: 145%;
  letter-spacing: -0.054rem;
  margin-left: 0.7rem;
}
.section01 .inner .text li p {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 145%;
  letter-spacing: -0.048rem;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text li p {
    padding-left: 0.7rem;
  }
}
.section01 .inner .text li:nth-child(1) {
  width: 100%;
  grid-column: span 2;
  padding-bottom: 3rem;
  position: relative;
}
.section01 .inner .text li:nth-child(1) strong {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.8rem;
  font-family: "Pretendard";
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.054rem;
  margin-bottom: 0.8rem;
  color: #424342;
}
.section01 .inner .text li:nth-child(1) p {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-family: "Pretendard";
  font-weight: 400;
  line-height: 160%;
  letter-spacing: -0.048rem;
  color: #767575;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text li:nth-child(1) p {
    padding-left: 0;
  }
}
.section01 .inner .text li:nth-child(1)::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  animation: line-w 1.5s ease 0.8s forwards;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text li:nth-child(1)::after {
    display: none;
  }
}
.section01 .inner .text li:nth-child(3) {
  padding-left: 2.4rem;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text li:nth-child(3) {
    padding: 2.4rem 0 0 0;
    margin-top: 2.4rem;
  }
  .section01 .inner .text li:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    animation: line-w 1.5s ease 0.8s forwards;
  }
}
.section01 .inner .text li:nth-child(3)::after {
  content: "";
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-left: 1px solid rgb(192, 189, 185);
  animation: line-h 1.5s ease 0.8s forwards;
}
@media screen and (max-width: 1024px) {
  .section01 .inner .text li:nth-child(3)::after {
    display: none;
  }
}

.section02,
.section04 {
  width: 100%;
  color: #424342;
}
.section02 .inner,
.section04 .inner {
  width: 100%;
  padding: 7rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-clip-path: inset(0 50% 0 50%);
          clip-path: inset(0 50% 0 50%);
  opacity: 0;
  transition: opacity 1s ease, -webkit-clip-path 2s ease;
  transition: clip-path 2s ease, opacity 1s ease;
  transition: clip-path 2s ease, opacity 1s ease, -webkit-clip-path 2s ease;
  overflow: hidden;
}
.section02 .inner.active,
.section04 .inner.active {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
  opacity: 1;
}
.section02 .inner.active::before,
.section04 .inner.active::before {
  animation: zoomInBg 3s ease forwards;
}
.section02 .inner::before,
.section04 .inner::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/sec2_bg_300.jpg") center/cover no-repeat;
  z-index: -1;
  transform: scale(1.3);
  transition: transform 3s ease;
}
.section02 .inner .contents,
.section04 .inner .contents {
  max-width: 1240px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents,
  .section04 .inner .contents {
    justify-content: center;
    display: block !important;
    width: 100% !important;
    padding: 8rem 5rem 10rem;
  }
}
.section02 .inner .contents .item_wrap,
.section04 .inner .contents .item_wrap {
  height: 65rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 65rem 58.6rem;
  grid-template-rows: repeat(2, auto);
  gap: 0.4rem;
  align-items: flex-start;
  justify-items: start;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents .item_wrap,
  .section04 .inner .contents .item_wrap {
    width: 100%;
    height: 100%;
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
}
.section02 .inner .contents .item_wrap li,
.section04 .inner .contents .item_wrap li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transform: translateX(100px);
}
.section02 .inner .contents .item_wrap li:not(:first-child),
.section04 .inner .contents .item_wrap li:not(:first-child) {
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents .item_wrap li:not(:first-child),
  .section04 .inner .contents .item_wrap li:not(:first-child) {
    padding: 3.6rem 3.6rem 5rem;
  }
}
.section02 .inner .contents .item_wrap li:not(:first-child):hover .next,
.section04 .inner .contents .item_wrap li:not(:first-child):hover .next {
  animation: nextBtn 0.8s ease-in-out infinite;
}
.section02 .inner .contents .item_wrap li:first-child,
.section04 .inner .contents .item_wrap li:first-child {
  grid-row: span 4;
  height: 100%;
}
.section02 .inner .contents .item_wrap li:first-child .box,
.section04 .inner .contents .item_wrap li:first-child .box {
  width: 65rem;
  height: 65rem;
  padding: 8rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents .item_wrap li:first-child .box,
  .section04 .inner .contents .item_wrap li:first-child .box {
    position: unset;
    width: 100%;
    height: 100%;
    padding: 3.6rem 3.6rem 5rem;
  }
}
.section02 .inner .contents .item_wrap li:first-child .box h2,
.section04 .inner .contents .item_wrap li:first-child .box h2 {
  font-size: 7.5rem;
  font-family: "Welstory gothic";
  font-weight: bold;
  letter-spacing: -0.084rem;
}
@media screen and (max-width: 1300px) {
  .section02 .inner .contents .item_wrap li:first-child .box h2,
  .section04 .inner .contents .item_wrap li:first-child .box h2 {
    font-size: 4.2rem;
    letter-spacing: -0.084rem;
  }
}
.section02 .inner .contents .item_wrap li:first-child .box .text,
.section04 .inner .contents .item_wrap li:first-child .box .text {
  color: #FF5624;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents .item_wrap li:first-child .box .text,
  .section04 .inner .contents .item_wrap li:first-child .box .text {
    gap: 1.6rem;
    margin-top: 4rem;
  }
}
.section02 .inner .contents .item_wrap li:first-child .box .text img,
.section04 .inner .contents .item_wrap li:first-child .box .text img {
  height: 26.5px;
}
.section02 .inner .contents .item_wrap li:first-child .box .text p,
.section04 .inner .contents .item_wrap li:first-child .box .text p {
  font-size: 2.6rem;
  font-family: "Pretendard";
  font-weight: 300;
  line-height: 145%;
  letter-spacing: -0.054rem;
}
@media screen and (max-width: 1300px) {
  .section02 .inner .contents .item_wrap li:first-child .box .text p,
  .section04 .inner .contents .item_wrap li:first-child .box .text p {
    font-size: 1.8rem;
  }
}
.section02 .inner .contents .item_wrap li:first-child:hover li,
.section04 .inner .contents .item_wrap li:first-child:hover li {
  background-color: transparent;
}
.section02 .inner .contents .item_wrap li:first-child:hover .box,
.section04 .inner .contents .item_wrap li:first-child:hover .box {
  justify-content: flex-start;
  background-color: #FF5624;
  will-change: border-radius, background-color;
  transition: border-radius 0.3s ease;
  border-radius: 0 0 100% 0;
}
.section02 .inner .contents .item_wrap li:first-child:hover h2,
.section04 .inner .contents .item_wrap li:first-child:hover h2 {
  color: #f5f5f5;
}
.section02 .inner .contents .item_wrap li:first-child:hover .text,
.section04 .inner .contents .item_wrap li:first-child:hover .text {
  width: 65%;
  color: #f5f5f5;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents .item_wrap li:first-child:hover li,
  .section04 .inner .contents .item_wrap li:first-child:hover li {
    background-color: transparent;
  }
  .section02 .inner .contents .item_wrap li:first-child:hover .box,
  .section04 .inner .contents .item_wrap li:first-child:hover .box {
    justify-content: space-between;
    background-color: #fff;
    will-change: none;
    transition: none;
    border-radius: 0 0 0 0;
  }
  .section02 .inner .contents .item_wrap li:first-child:hover h2,
  .section04 .inner .contents .item_wrap li:first-child:hover h2 {
    color: #424342;
  }
  .section02 .inner .contents .item_wrap li:first-child:hover .text,
  .section04 .inner .contents .item_wrap li:first-child:hover .text {
    width: 100%;
    color: #FF5624;
  }
}
.section02 .inner .contents .item_wrap li:nth-child(2),
.section04 .inner .contents .item_wrap li:nth-child(2) {
  border-radius: 0 0 0 2rem;
}
.section02 .inner .contents .item_wrap li:nth-child(3), .section02 .inner .contents .item_wrap li:nth-child(4),
.section04 .inner .contents .item_wrap li:nth-child(3),
.section04 .inner .contents .item_wrap li:nth-child(4) {
  border-radius: 2rem 0 0 2rem;
}
.section02 .inner .contents .item_wrap li:nth-child(5),
.section04 .inner .contents .item_wrap li:nth-child(5) {
  border-radius: 2rem 0 0 0;
}
.section02 .inner .contents .item_wrap li a,
.section04 .inner .contents .item_wrap li a {
  width: 100%;
  box-sizing: border-box;
  padding: 0 4rem 0 6rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  display: flex;
}
@media screen and (max-width: 1024px) {
  .section02 .inner .contents .item_wrap li a,
  .section04 .inner .contents .item_wrap li a {
    padding: 0 0 0 0;
  }
}
.section02 .inner .contents .item_wrap li a .text p,
.section04 .inner .contents .item_wrap li a .text p {
  font-size: 2rem;
  font-family: "Pretendard";
  font-weight: 500;
  letter-spacing: -0.06rem;
  margin-bottom: 0.8rem;
}
.section02 .inner .contents .item_wrap li a .text h3,
.section04 .inner .contents .item_wrap li a .text h3 {
  font-size: 3.6rem;
  font-family: "Pretendard";
  font-weight: 700;
}

.section03 .inner {
  max-width: 1240px;
  width: 100%;
  padding: 16rem 0 20rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media screen and (max-width: 1024px) {
  .section03 .inner {
    justify-content: center;
    display: block !important;
    width: 100% !important;
    padding: 8rem 5rem 10rem;
  }
}
.section03 .inner h2 {
  width: 100%;
  font-size: 7.5rem;
  font-family: "Welstory gothic";
  font-weight: bold;
  text-align: right;
}
.section03 .inner ul {
  width: 100%;
  margin-top: 2.8rem;
}
.section03 .inner ul li {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 20.2rem;
  padding: 3.4rem 0 6rem;
}
@media screen and (max-width: 1024px) {
  .section03 .inner ul li {
    flex-direction: column;
    gap: 0;
  }
}
.section03 .inner ul li:hover p::after {
  content: "";
  animation: nextBtn 0.8s ease-in-out infinite;
}
.section03 .inner ul li:first-child::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: bottomLine 2s ease 1.4s forwards;
}
.section03 .inner ul li:first-child::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  animation: topLine 2s ease 1s forwards;
}
.section03 .inner ul li:last-child::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  animation: bottomLine 2s ease 1.8s forwards;
}
.section03 .inner ul li .title {
  display: flex;
  gap: 3.6rem;
  color: #424342;
}
@media screen and (max-width: 1024px) {
  .section03 .inner ul li .title {
    margin-bottom: 16px;
  }
}
.section03 .inner ul li .title h3 {
  width: 24.2rem;
  font-family: "Welstory gothic";
  font-size: 11.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0.912rem;
  text-transform: uppercase;
}
.section03 .inner ul li .title b {
  width: 21.2rem;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 700;
  line-height: 145%;
  letter-spacing: -0.08rem;
  margin-top: 0.6rem;
}
.section03 .inner ul li p {
  color: #5E5F5F;
  font-family: "Pretendard";
  font-size: 2rem;
  font-weight: 500;
  line-height: 145%;
  letter-spacing: -0.06rem;
}
.section03 .inner ul li p::after {
  content: "";
  display: block;
  width: 11rem;
  height: 2rem;
  background: url(../img/icon_arrow_link.svg) 0/cover no-repeat;
  margin-top: 2rem;
}

.section04 .inner::before {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/sec4_bg_170.jpg") center/cover no-repeat;
  z-index: -1;
  transform: scale(1.3);
  transition: transform 3s ease;
}

/* keyframe */
@keyframes circleExpand {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(9);
    opacity: 0;
  }
}
@keyframes slideDown {
  0% {
    height: 0;
  }
  100% {
    height: 31rem;
  }
}
@keyframes slideDownMobile {
  0% {
    height: 0;
  }
  100% {
    height: 16rem;
  }
}
@keyframes slideRight {
  0% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 19rem;
  }
}
@keyframes slideRightMobile {
  0% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 14.6rem;
  }
}
@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes line-w {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    border-top: 1px solid #C0BDB9;
  }
}
@keyframes line-h {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    top: -0.1rem;
    height: 100%;
    opacity: 1;
    border-left: 1px solid #C0BDB9;
  }
}
@keyframes nextBtn {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(1rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zoomInBg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bottomLine {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    border-bottom: 0.1rem solid #C0BDB9;
  }
}
@keyframes topLine {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
    border-top: 0.1rem solid #C0BDB9;
  }
}/*# sourceMappingURL=style.css.map */